.message {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin-bottom: 10px;
}

.user {
  align-self: flex-end;
  background: #e8e8ff;
  border-radius: 12px 12px 0 12px;
  padding: 10px;
}

.bot {
  align-self: flex-start;
  background: #e9e9e9;
  border-radius: 12px 12px 12px 0;
  padding: 10px;
}

.text {
  font-size: 1rem;
}

.time {
  font-size: 0.75rem;
  text-align: right;
  color: #777;
  margin-top: 4px;
}
.editMessage {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.editMessageInput {
  flex: 1;
  font-size: 14px;
}
.btnMessage {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
